{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section class="contenair imgBoxHome">
    <div id="imgHome">
        <img src="{{ asset('img/boutique.png') }}" width="100%" height="800px"/>
    </div>

</section>
<section class="contenair">
    <div class="box">
        <div class="card">
            <span>
                <img src="{{ asset('img/tShirt.png') }}"/>
            </span>
            <span>
                Lorem ipsum dolor sit amet
            </span>
            <span>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </span>
            <div class="footerCard">
                <span class="price">20€</span>
                <span class="info">
                    <span>reduction</span>
                    <span class="note">
                        <img src="{{ asset('img/etoile.png')}}" />
                    </span>
                </span>
            </div>
        </div>
        <div class="card">
            <span>titre</span>
            <span>photo</span>
        </div>
        <div class="card">
            <span>titre</span>
            <span>photo</span>
        </div>
        <div class="card">
            <span>titre</span>
            <span>photo</span>
        </div>
        <div class="card">
            <span>titre</span>
            <span>photo</span>
        </div>
        <div class="card">
            <span>titre</span>
            <span>photo</span>
        </div>
        <div class="card">
            <span>titre</span>
            <span>photo</span>
        </div>
        <div class="card">
            <span>titre</span>
            <span>photo</span>
        </div>
        <div class="card">
            <span>titre</span>
            <span>photo</span>
        </div>
    </div>
</section>
{% endblock %}
