<!-- Trigger/Open The Modal -->
{# <button id="myBtn">Open Modal</button> #}

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h3>Se Connecter</h3>
    <form method="POST">
      <ul>
        <li class="flexColumn">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="Saisir..." autocomplete="email" required autofocus/>
        </li>
        <li class="flexColumn">
          <label for="mdp">Mot de passe</label>
           <input type="password" name="password" id="mdp" placeholder="Saisir..." required/>
        </li>
        <li>
           <a href="{{ path('app_forgot_password_request')}}">Mot de passe oublié</a>
            
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
        </li>
        <li id="liSub">
          <input type="submit" name="submit" id="btnValide" class="button" value="Valider" />
        </li>
      </ul>
    </form>
  </div>

</div>