{% extends 'base.html.twig' %}

{% block title %}Liste Articles{% endblock %}

{% block body %}
<section class="contenair flexColumn">
    <h3>Liste Articles</h3>
    
    </div>
</section>

{% endblock %}