@mixin displayFlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin displayFlexStart {
    display: flex;
    justify-content: flex-start;
   
}
@mixin displayFlexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@mixin displayFlexWrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@mixin displayFlexColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@mixin displayFlexColumnOnly {
    display: flex;
    flex-direction: column;
}
@mixin displayFlexColumnAndAlignItemStrech {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}
@mixin displayFlexSpanceAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin displayFlexSpanceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin paddingTopForm {
    padding-top: 10px;
}
@mixin marginTopForm {
    margin-top: 10px;
}

@mixin inputForm {
    input[type=text] {
       width: 70%;
       padding: 5px 10px;
    }
    input[type=email] {
        width: 70%;
        padding: 5px 10px;
    }
    input[type=password] {
        width: 70%;
        padding: 5px 10px;
    }
    input[type=file] {
        width: 70%;
        padding: 5px 10px;
    }
}