@mixin displayFlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin displayFlexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@mixin displayFlexWrap {
    display: flex;
    flex-wrap: wrap;
}
@mixin displayFlexColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@mixin displayFlexSpanceAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}