@mixin displayFlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin displayFlexStart {
    display: flex;
    justify-content: flex-start;
   
}
@mixin displayFlexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@mixin displayFlexWrap {
    display: flex;
    //justify-content: center;
    flex-wrap: wrap;
}
@mixin displayFlexColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@mixin displayFlexColumnOnly {
    display: flex;
    flex-direction: column;
}
@mixin displayFlexColumnAndAlignItemStrech {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}
@mixin displayFlexSpanceAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin displayFlexSpanceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin paddingTopForm {
    padding-top: 10px;
}
@mixin marginTopForm {
    margin-top: 10px;
}

@mixin inputForm {
    input[type=text] {
       width: 70%;
       padding: 5px 10px;
    }
    input[type=email] {
        width: 70%;
        padding: 5px 10px;
    }
    input[type=password] {
        width: 70%;
        padding: 5px 10px;
    }
    input[type=file] {
        width: 70%;
        padding: 5px 10px;
    }
}
.flexCenter {
    @include displayFlexCenter();
    flex-direction: column;
}
.displayFlexStartColumn {
    @include displayFlexStart();
    flex-direction: column;
}
.flexColumn {
    @include displayFlexColumnOnly();
}
.flexEnd {
    @include displayFlexEnd();
}
.ml-15 {
    margin-right: 15px;
}
.mt-5 {
    margin-top: 5px;
}
.button {
    background: rgb(51, 181, 7);
    border: 0;
    padding: 12px 20px;
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    color: white;
    font-size: 1em;
    margin-top: 5px;
    &:hover {
        cursor: pointer;
        background: rgb(34, 134, 0);
        transition: 1.5s;
    }
}
.favoris {
    border: 0;
    background: transparent;
}
.messageEmpty {
    @include displayFlexColumnOnly();
    justify-content: center;
    align-items: center;
    height: 50vh;
    svg {
        width: 100px;
        height:100px;
        color: lightgray;
    }
    span {
        color: lightgray;
        font-size: 2.5em;
    }
}
.hauteur  {
    height: 100vh;
}
.colorDelete {
    color:rgb(240, 9, 9);
}