.contenair {
    @include displayFlexCenter();
    margin-left: 20%;
}
.box {
    @include displayFlexWrap();
    //width: 1000px;
    height: auto;
}
.cardHead {
    @include displayFlexSpanceAround();
}
.card {
    width: 300px;
    height:450px;
    border: 1px solid rgba(0,0,0,1);
    margin: 10px 20px 10px 10px;
    border-radius: 20px;
    .cardFavoris {
        @include displayFlexSpanceAround();
        margin-left:80%;
        padding:10px 15px;
    }
    .cardPhotoAndCart {
        @include displayFlexCenter();
        margin-top:10px;
        .addCart {
            position: absolute;
            background: rgba(255, 255, 255,1);
            margin-top:200px;
            z-index: 1;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
            padding: 5px 10px;
            border-radius: 5px;
        }
    }
    .imageFill {
        @include displayFlexCenter();
        padding: 50px;
        .addCart {
            position: absolute;
            background: rgba(255, 255, 255,1);
            margin-top:200px;
            z-index: 1;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
            padding: 5px 10px;
            border-radius: 5px;
        }
    }
    .titleCardProduit {
        @include displayFlexCenter();
        font-family: Georgia, serif;
        margin-top:20px;
    }
    .detailCardProduit {
        @include displayFlexCenter();
        text-align: center;
        font-family: Times, "Times New Roman", Georgia, serif;
        margin-top:10px;
        color:rgb(161, 158, 158);
    }
    .footerCard {
        @include displayFlexSpanceAround();
        .price {
            font-size: 3em;
            font-family: Georgia, serif;
            color: lightgray;
            font-weight: bold;
        }
        .info {
            @include displayFlexColumn();
            span:nth-child(1) {
                padding: 5px 10px;
                border-radius: 5px;
                box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
                font-family: Georgia, serif;
                color:rgb(154, 148, 148);
            }
            .note {
                img {
                    width: 100px;
                    height: 20px;
                }
            }
        }  
    }
}
.cartColor {
    color:lightgray;
}
.imgProduit {
    width: 250px;
    height:210px;
}
.imgArticles {
    width:50px;
    height: 50px;
}
.boxImgHome {
    width: 90%;
    inset:0;
    margin-left: -20%;
}
.imageFillSvg {
    width: 120px;
    height: 120px;
    color: lightgray;
}