.boxForProduitDetail {
    @include displayFlexCenter();
    background: rgb(255, 255, 255);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    height:80vh;
    border-radius: 10px;
    .imgProduitDetail {
        @include displayFlexCenter();
        width: 45%;
        height:80%;
        #produitdetail {
            position: relative;
            @include displayFlexColumnAndAlignItemStrech();
            width: 85%;
            height:100%;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
            margin-left: -200px;
            background: rgb(255, 255, 255);
            #imgHeadProduit {
                @include displayFlexSpanceAround();
                width: 100%;
                height: 100%;
            }
            #imgFooterProduit {
                @include displayFlexCenter();
                width: 100%;
                height: 100%;
            }
        }
        
    }
    .produitDetails {
        width: 55%;
        height: 80%;
        div:nth-child(1) {
            @include displayFlexColumnOnly();
            span:nth-child(1) {
                font-size: 3em;
                font-weight: bold;
                color:rgb(111, 107, 107);
                font-family: Georgia, serif;
            }
            span:nth-child(2) {
                font-size: 1em;
                color:rgb(0, 0, 0);
                font-family: Georgia, serif;
            }
            
        }
        .boxPriceProduit {
            @include displayFlexCenter();
            margin-top: 10px;
            #priceProduit {
                width: 65%;
                height: 200px;
                @include displayFlexCenter();
                font-size: 3em;
                font-weight: bold;
                background: rgba(253, 135, 0, 0.4);
                border-radius: 5px;
                color:white;
            }
        }
        #selectColor {
            @include displayFlexColumnOnly();
            margin-top: 10px;
        }
        #detailsProduit {
            @include displayFlexColumnOnly();
            padding: 40px 0px;
            #detailTitle {
                color:rgb(177, 170, 170);
            }
        }
        #panier {
            span:nth-child(1) {
                padding: 20px;
                border-radius: 10px;
                background: rgba(255, 0, 0, 0.7);
                color:white;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}