.contentLogReg {
    height: 100vh;
}
.boxLogReg {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    height: 80vh;
    width: 80%;
    margin-left: -20%
}
.imgLogReg {
    @include displayFlexCenter();
    width:65%;
    height: 80vh;
    background: rgba(0, 0, 255,0.5)
}
.formLogRegister {
    @include displayFlexColumn();
    width: 35%;
}
.mgtForm {
    @include marginTopForm();
}

@include inputForm();

#register {
    @include displayFlexColumn();
    margin-left: 50px;
}
.test {
    display: flex;
    flex-direction: column;
}
