body {
    //background-color: rgba(255, 255, 255,1);
    margin: 0;
    padding: 0;
}

@import "general/generalClass.scss";
.flexCenter {
    @include displayFlexCenter();
    flex-direction: column;
}
.flexColumn {
    @include displayFlexColumnOnly();
}
@import "nav/mainNav.scss";
@import "logRegister/logRegister.scss";
@import "contenairAndBox/contenairAndBox.scss";
@import "produit/produitDetail.scss";
@import "produit/ajoutProduit.scss";
@import "footer/footer.scss";