body {
    //background-color: rgba(255, 255, 255,1);
    margin: 0;
    padding: 0;
}

@import "general/generalClass.scss";
.flexCenter {
    @include displayFlexCenter();
    flex-direction: column;
}
.displayFlexStartColumn {
    @include displayFlexStart();
    flex-direction: column;
}
.flexColumn {
    @include displayFlexColumnOnly();
}
.button {
    background: rgb(51, 181, 7);
    border: 0;
    padding: 12px 20px;
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    color: white;
    font-size: 1em;
    margin-top: 5px;
    &:hover {
        cursor: pointer;
        background: rgb(34, 134, 0);
        transition: 1.5s;
    }
}
@import "nav/mainNav.scss";
@import "logRegister/logRegister.scss";
@import "contenairAndBox/contenairAndBox.scss";
@import "produit/produitDetail.scss";
@import "produit/ajoutProduit.scss";
@import "footer/footer.scss";