body {
    //background-color: rgba(255, 255, 255,1);
    margin: 0;
    padding: 0;
}
@import "general/generalClass.scss";
@import "modal/modal.scss";
@import "svg/svg.scss";
@import "sideBar/sideBar.scss";
@import "nav/mainNav.scss";
@import "logRegister/logRegister.scss";
@import "contenairAndBox/contenairAndBox.scss";
@import "produit/produitDetail.scss";
@import "produit/ajoutProduit.scss";
@import "produit/listeFavoris.scss";
@import "produit/listeProduit.scss";
@import "cart/cart.scss";
@import "footer/footer.scss";